// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$white: #FFFFFF;


html {
    background: #FAFAFA;
}


body {
    font-family: $sans !important;
    font-size: 1em;

    a {
        text-decoration: none;
    }

    > header {
        background: RGB(100, 102, 102);
        text-align: center;
    }

    > nav {
        background: RGB(245, 245, 245);
        border-bottom: 0px;

        a {
            text-shadow: none;
            font-family: $sans;
            font-size: 0.9em;
            padding-top: 0.3em;
            line-height: 1.5em;
        }

        li + li {
            border-left: 0px;

            a {
                border-left: 0px;
            }
        }
    }

    > div {
        background: $white;
        border-bottom: 0px;

        > div {
            background: $white;
        }
    }

    > footer {
        background: $white;
        text-shadow: none;
        color: #AAAAAA;
    }

}


article {
    padding-top: 2em;

    ul, ol {
        margin-left: 2em;
    }

    header {
        h1.entry-title {
            font-family: $heading-font-family;
            font-weight: 400;
        }
    }
}


#markdown-toc:before {
    content: "本页目录";
    font-weight: bold;
    font-family: $heading-font-family;
    font-size: 1.2em;
    line-height: 2em;
}


ul#markdown-toc {
    list-style: none;
    border: none;
    padding: 0.6em 1.25em 1.2em;
    margin-top: 0.25em;
    margin-bottom: 1.25em;
    margin-left: 0;
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.75em;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    background-color: #D3D3D3;
}

.blog-index #markdown-toc {
    display: none;
}

