// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$white: RGB(256, 256, 256);
$pageColor: RGB(246, 244, 236);
$backgroundColor: RGB(229, 228, 219);
$navigationColor: RGB(235, 235, 235);

html {
    background: $backgroundColor;
}


body {
    font-family: $sans !important;
    font-size: 1em;

    a {
        text-decoration: none;
    }

    > header {
        padding-top: 2.5em;
        background: RGB(90, 90, 91);
        text-align: center;
    }

    > nav {
        background: $navigationColor;
        border-bottom: 0px;

        a {
            text-shadow: none;
            font-family: $sans;
            font-size: 0.9em;
            padding-top: 0.3em;
            line-height: 1.5em;
        }

        li + li {
            border-left: 0px;

            a {
                border-left: 0px;
            }
        }
    }

    > div {
        background: $pageColor;
        border-bottom: 0px;

        > div {
            background: $pageColor;
        }
    }

    > footer {
        background: $pageColor;
        text-shadow: none;
        color: #AAAAAA;
    }

}


article {
    padding-top: 2em;

    ul, ol {
        margin-left: 2em;
    }

    header {
        h1.entry-title {
            font-family: $heading-font-family;
            font-weight: 400;
        }
    }
}


// Tips Style
.info, .warning, .addition {
    border: none;
    padding: 0.6em 1.25em 0.6em 48px;
    margin-top: 0.25em;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}

.info {
    background: #d5e9f6 url(/images/tab_info.png) no-repeat left top;
}

.warning {
    background: #f9d9d8 url(/images/tab_red.png) no-repeat left top;
}

.addition {
    list-style: none;
    padding: 0.6em 1.25em 0.6em 1.25em;
    margin-bottom: 0.8em;
    margin-left: 0;
    font-style: normal;
    font-size: 1em;

    background-color: RGB(231, 231, 231);
}


// Markdown content
#markdown-toc:before {
    content: "本页目录";
    font-weight: bold;
    font-family: $heading-font-family;
    font-size: 1.2em;
    line-height: 2em;
}


ul#markdown-toc {
    list-style: none;
    border: none;
    padding: 0.6em 1.25em 1.2em;
    margin-top: 0.25em;
    margin-bottom: 1.25em;
    margin-left: 0;
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.75em;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    background-color: #D3D3D3;
}

.blog-index #markdown-toc {
    display: none;
}

// TODO --------- footnote
.footnote-button {
    position: relative;
    z-index: 5;
    top: -0.2em;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.325em;
    margin: 0 0.1em 0 0.2em;
    height: 1em;
    width: 1em;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    opacity: 0.3;
    background-color: #464646;
    line-height: 0;
    vertical-align: middle;
    text-decoration: none;
    transition: opacity;
    transition-duration: 0.25s;
}

.footnote-button:before {
    content: attr(data-footnote-number);
    position: absolute;
    bottom: 0.63em;
    left: 0;
    right: 0;
    display: block;
    font-size: 0.8em;
    color: #fff;
    font-family: inherit;
    font-weight: bold;
    font-style: normal;
    line-height: 0;
    text-align: center;
}

.footnote-content.active:not(.fixed-bottom) {
    transform: scale(1) translateZ(0);
    opacity: 0.97;
}

.footnote-print-only {
display: none !important;
}

